backend/venv/
backend/.env
backend/uploads/
frontend/node_modules/
frontend/.env
frontend/.vite/
frontend/dist/
.env
__pycache__/
*.pyc
dist/
build/
uploads/
.pytest_cache/
.vscode/
.idea/
frontend/*.log
*.log
